<link rel="stylesheet" href="./css/products.css">

{{>navbar}}

<h1> {{message}} </h1>

{{#each products}}
{{#if (isStock this.stock 1)}}
<ul>
    <li>
        <p> {{this.title}} </p>
        <p> {{this.description}} </p>
        <p> {{this.price}} </p>
    </li>
</ul>
{{/if}}
{{/each}}